MISP_URL=https://misp-core
MISP_KEY=<tu-api-key-de-40-chars>
MISP_VERIFYCERT=false

WAZUH_URL=https://wazuh.manager:55000
WAZUH_USER=wazuh-wui
WAZUH_PASSWORD=<password-del-docker-compose-de-wazuh>
WAZUH_CONTAINER=wazuh-lab-wazuh.manager-1
WAZUH_ALERTS_PATH=/var/ossec/logs/alerts/alerts.json

SURICATA_CONTAINER=suricata-mirror
SURICATA_EVE_PATH=/var/log/suricata/eve.json
